<div>
 	<form action="/webbase/create" method="post">
    	<p>Quoc gia cu tru</p> 	<input type="text" name="VietNam">
    	<p>Cach xung ho</p> 	<input type="radio" name="Nam">Nam </input><input type="radio" name="Nu">Nu</input>
    	<p>Ho ten day do:</p> 	<input type="text" name="Hoten">
    	<p>Quoc tich</p>		<select><option>Viet Nam</option><option>Nhat</option><option>Han</option></select>
    	<p>Noi sinh:</p>		<select><option>Viet Nam</option><option>Nhat</option><option>Han</option></select>
    	<p>Ngay sinh</p>		<select><option>1</option><option>2</option><option>3</option></select>
    	<button type="submit">Dang Ky</button>
    </form>
  </div>